<div class="container">

    <h2>L'Abbaye Saint-Guénolé de Landévennec</h2>
    <h3>Dans les coulisses d'une abbaye avec plus de 1500 ans d'histoire</h3>

    <div class="row">
        <div class="col-lg-12">
            <img src="assets/img/abbaye/coffret.jpg" alt="Couverture du livre" class="large-image spaced-image" />
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <blockquote>
                <i><p class="text-center">Ce coffret rassemble une sélection de photographies et textes poétiques tirés de l'exposition qui éclaire quelques aspects de la vie des moines à Landévennec.</p>
<p class="text-center">Puisse s'y faire entendre l'harmonie recherchée entre<br />
solitude et communion,<br />
parole et silence,<br />
clôture et ouverture,<br />
louanges des moines et chant des oiseaux,<br />
lenteur du geste et repos de l'âme,<br />
imploration dans la souffrance et consolation de l'amour,<br />
attente du jour sans déclin et lumière du soir,<br />
écoute patiente et don d'une présence,<br />
joie de Dieu et paix du cœur.</p></i>
                <footer>Frère Jean-Michel Grimaud, Abbé</footer>
            </blockquote>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <img src="assets/img/abbaye/01.jpg" alt="Page du livre" class="large-image mozaic-image" />
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <img src="assets/img/abbaye/02.jpg" alt="Page du livre" class="large-image mozaic-image" />
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
			<h3>Présentation des auteurs</p>
			<div class="col-sm-2 portait-container">
				<img src="assets/img/abbaye/jean-michel.jpg" alt="Portait de l'abbé Jean-Michel Grimaud" class="img-circle portrait">
			</div>
			<div class="col-sm-10">
				<blockquote>
					<p><b>Jean-Michel Grimaud</b>, lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus tempus sapien a congue lacinia. Nulla vitae turpis porttitor metus semper molestie. Sed vitae nibh at arcu laoreet dictum vitae quis massa. Aliquam maximus, tortor quis imperdiet pellentesque, tortor turpis consectetur metus, a varius quam massa et dolor. Nulla sagittis rhoncus felis sit amet efficitur. Quisque semper commodo dui eget tincidunt. </p>
					
					<p>Aliquam ligula lorem, feugiat nec malesuada ut, molestie non nunc. Pellentesque tristique diam vel velit luctus dapibus. Nunc sem sapien, tincidunt a ornare ac, finibus eget nisi. Nullam at hendrerit libero, non hendrerit tellus. Suspendisse semper nec eros eu pharetra.</p>
				</blockquote>
			</div>
			<div class="col-sm-2 portait-container">
				<img src="assets/img/abbaye/aicha.jpg" alt="Portait d'Aïcha Dupoy de Guitard" class="img-circle portrait">
			</div>
			<div class="col-sm-10">
				<blockquote>
					<p><b>Aïcha Dupoy de Guitard</b>, artiste peintre et passionnée de photographie, est en perpétuelle quête d'instants de poésie dans la nature qui nous entoure. Son premier livre « Surfeuses du bout du monde » (poèmes S. Rannou) a touché un large public, sensible à la beauté de ces fragments d’éternité. L’Océan et la Forêt étant ses deux éléments de prédilection, elle jongle d’un univers à l’autre, en captant la magie de l’éphémère.</p>
					
					<p>Elle a exposé son travail dans différents lieux comme le Conservatoire Botanique National de Brest, la médiathèque des Capucins à Brest, sur la presqu’île de Crozon et dans les Monts d’Arrée. Ses photos ont également fait l’objet de publications dans les magazines ArMen et The Surfer’s Journal.</p>
				</blockquote>
			</div>

			<div class="col-sm-2 portait-container">
				<img src="assets/img/abbaye/gilles.jpg" alt="Portait de Gilles Baudry" class="img-circle portrait">
			</div>
			<div class="col-sm-10">
				<blockquote>
					<p><b>Gilles Baudry</b> est un écrivain reconnu au-delà des frontières. Publiés depuis près de 40 ans, se écrits ont été traduits en plusieurs langues. Moine bénédictin à l’abbaye de Landévennec, il est un poète à l’écriture discrète, intime, loin des voix claironnantes et des grands mots.</p>
					<p>Une poésie de l’ineffable qui s’entend à merveille avec l’art du détail, qui s’attarde sur une odeur de mousse et d’humus. Gilles Baudry constate que <i>le poète est un homme ordinaire, mais à l’écoute, disponible…</i> Il ne cesse de s’étonner de la beauté du monde, dans <i>l’humilité des plus simples merveilles</i>.</p>
					<p>Il a notamment reçu le prix Antonin-Artaud pour son recueil intitulé <i>Il a neigé tant de silence</i> (édition Rougerie 1985), le prix de l’Académie de Bretagne et des Pays-de-la-Loire en 2005, et le prix Aliénor en 2013.</p>
				</blockquote>
			</div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <img src="assets/img/abbaye/03.jpg" alt="Page du livre" class="large-image mozaic-image" />
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <img src="assets/img/abbaye/04.jpg" alt="Page du livre" class="large-image mozaic-image" />
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
				<h3>Disponibilité</h3>
				
				<blockquote>
				<ul class="list-unstyled">
					<li><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Sortie : été 2018</li>
					<li><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> Imprimé en Bretagne</li>
				</ul>
				</blockquote>
				
				<p class="lead">Il est disponible de le commander directement à l'abbaye au 02 98 27 73 34, au tarif de 13€.</p>
        </div>
    </div>

    <div class="row spaced-row">
        <div class="col-lg-12">
            <h3>Ils parlent du livre :</h3>
            <div class="press-list">
                <span class="press-item">
                    <a href="assets/img/abbaye/article-armen.jpg" target="blank">
                        <img src="assets/img/presse/logo-armen.png" alt="ArMen" />
                    </a>
                </span>
            </div>
        </div>
    </div>
</div>
