<div class="banner banner-reverse img-banner-chevaux"><h1>Chevaux</h1></div>

<div class="container">

    <div class="row">
        <div class="col-lg-12">
            <p>Tant de fascination pour cette merveilleuse créature qu’est le cheval. Sa noblesse, son intelligence, sa puissance et sa douceur ne cesseront de nous émerveiller. Vivre à ses côtés est une leçon de vie au quotidien. Il nous en apprend beaucoup sur nous-même, et sa confiance demeure la plus belle des récompenses. Voici quelques fragments de vie, ici et là, témoins d’instants privilégiés.</p>
        </div>
    </div>

    <div id="chevaux-gallery" class="gallery">
        <a href="/assets/img/chevaux/1.JPG"><img src="/assets/img/chevaux/1-th.jpg"/></a>
        <a href="/assets/img/chevaux/2.JPG"><img src="/assets/img/chevaux/2-th.jpg"/></a>
        <a href="/assets/img/chevaux/3.JPG"><img src="/assets/img/chevaux/3-th.jpg"/></a>
        <a href="/assets/img/chevaux/4.JPG"><img src="/assets/img/chevaux/4-th.jpg"/></a>
        <a href="/assets/img/chevaux/5.JPG"><img src="/assets/img/chevaux/5-th.jpg"/></a>
        <a href="/assets/img/chevaux/6.JPG"><img src="/assets/img/chevaux/6-th.jpg"/></a>
        <a href="/assets/img/chevaux/7.JPG"><img src="/assets/img/chevaux/7-th.jpg"/></a>
        <a href="/assets/img/chevaux/8.JPG"><img src="/assets/img/chevaux/8-th.jpg"/></a>
        <a href="/assets/img/chevaux/9.JPG"><img src="/assets/img/chevaux/9-th.jpg"/></a>
        <a href="/assets/img/chevaux/10.JPG"><img src="/assets/img/chevaux/10-th.jpg"/></a>
        <a href="/assets/img/chevaux/11.JPG"><img src="/assets/img/chevaux/11-th.jpg"/></a>
        <a href="/assets/img/chevaux/12.JPG"><img src="/assets/img/chevaux/12-th.jpg"/></a>
        <a href="/assets/img/chevaux/13.JPG"><img src="/assets/img/chevaux/13-th.jpg"/></a>
        <a href="/assets/img/chevaux/14.JPG"><img src="/assets/img/chevaux/14-th.jpg"/></a>
        <a href="/assets/img/chevaux/15.JPG"><img src="/assets/img/chevaux/15-th.jpg"/></a>
        <a href="/assets/img/chevaux/16.JPG"><img src="/assets/img/chevaux/16-th.jpg"/></a>
        <a href="/assets/img/chevaux/17.JPG"><img src="/assets/img/chevaux/17-th.jpg"/></a>
        <a href="/assets/img/chevaux/18.JPG"><img src="/assets/img/chevaux/18-th.jpg"/></a>
        <a href="/assets/img/chevaux/19.JPG"><img src="/assets/img/chevaux/19-th.jpg"/></a>
        <a href="/assets/img/chevaux/20.JPG"><img src="/assets/img/chevaux/20-th.jpg"/></a>
        <a href="/assets/img/chevaux/21.JPG"><img src="/assets/img/chevaux/21-th.jpg"/></a>
        <a href="/assets/img/chevaux/22.JPG"><img src="/assets/img/chevaux/22-th.jpg"/></a>
        <a href="/assets/img/chevaux/23.JPG"><img src="/assets/img/chevaux/23-th.jpg"/></a>
        <a href="/assets/img/chevaux/24.JPG"><img src="/assets/img/chevaux/24-th.jpg"/></a>
        <a href="/assets/img/chevaux/25.JPG"><img src="/assets/img/chevaux/25-th.jpg"/></a>
        <a href="/assets/img/chevaux/26.JPG"><img src="/assets/img/chevaux/26-th.jpg"/></a>
        <a href="/assets/img/chevaux/27.JPG"><img src="/assets/img/chevaux/27-th.jpg"/></a>
        <a href="/assets/img/chevaux/28.JPG"><img src="/assets/img/chevaux/28-th.jpg"/></a>
        <a href="/assets/img/chevaux/29.JPG"><img src="/assets/img/chevaux/29-th.jpg"/></a>
        <a href="/assets/img/chevaux/30.JPG"><img src="/assets/img/chevaux/30-th.jpg"/></a>
        <a href="/assets/img/chevaux/31.JPG"><img src="/assets/img/chevaux/31-th.jpg"/></a>
        <a href="/assets/img/chevaux/32.JPG"><img src="/assets/img/chevaux/32-th.jpg"/></a>
        <a href="/assets/img/chevaux/33.JPG"><img src="/assets/img/chevaux/33-th.jpg"/></a>
        <a href="/assets/img/chevaux/34.JPG"><img src="/assets/img/chevaux/34-th.jpg"/></a>
        <a href="/assets/img/chevaux/35.JPG"><img src="/assets/img/chevaux/35-th.jpg"/></a>
        <a href="/assets/img/chevaux/36.JPG"><img src="/assets/img/chevaux/36-th.jpg"/></a>
        <a href="/assets/img/chevaux/37.JPG"><img src="/assets/img/chevaux/37-th.jpg"/></a>
        <a href="/assets/img/chevaux/38.JPG"><img src="/assets/img/chevaux/38-th.jpg"/></a>
        <a href="/assets/img/chevaux/39.JPG"><img src="/assets/img/chevaux/39-th.jpg"/></a>
        <a href="/assets/img/chevaux/40.JPG"><img src="/assets/img/chevaux/40-th.jpg"/></a>
        <a href="/assets/img/chevaux/41.JPG"><img src="/assets/img/chevaux/41-th.jpg"/></a>
        <a href="/assets/img/chevaux/42.JPG"><img src="/assets/img/chevaux/42-th.jpg"/></a>
        <a href="/assets/img/chevaux/43.JPG"><img src="/assets/img/chevaux/43-th.jpg"/></a>
        <a href="/assets/img/chevaux/44.JPG"><img src="/assets/img/chevaux/44-th.jpg"/></a>
        <a href="/assets/img/chevaux/45.JPG"><img src="/assets/img/chevaux/45-th.jpg"/></a>
        <a href="/assets/img/chevaux/46.JPG"><img src="/assets/img/chevaux/46-th.jpg"/></a>
    </div>

</div>

<script>
    $(document).ready(function() {
        $("#chevaux-gallery").lightGallery({download: false});
    });
</script>
