<div class="banner img-banner-contact"><h1>Contact</h1></div>

<div class="container">
    <div class="row">
        <h3>Coordonées</h3>
        <blockquote>
            <strong>Aïcha Dupoy de Guitard</strong><br />
            Poésie de l'instant<br />
            Landévennec<br />
            <a href="mailto:poesiedelinstant@gmail.com">poesiedelinstant@gmail.com</a><br />
            06 75 78 75 65<br />
        </blockquote>
    </div>
</div>