<div class="container">

    <h2>Eaux intérieures</h2>
    <h3>Cantate à deux voix sur les rivières bretonnes...</h3>

    <div class="row">
        <div class="image-video">
            <video id="trailer" class="hidden" width="100%" controls>
                <source src="/assets/video/eaux-interieures.mp4" type="video/mp4">
            </video>
            <img id="vignette" src="assets/img/eaux-interieures/couverture_small.jpg" alt="Couverture du livre" class="large-image spaced-image" onclick="play()" />
            <span id="play-icon" class="glyphicon glyphicon-play-circle white" aria-hidden="true" onclick="play()"></span>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h3>Trésors cachés de Bretagne</h3>
            <p>
A l'heure où nous prenons enfin conscience de la fragilité des océans, des forêts et du règne animal, il est un univers souvent oublié, et pourtant primordial: les rivières. Le livre "Eaux intérieures" vous invite à (re)découvrir ces trésors cachés de Bretagne, plus connue pour son littoral, à travers 115 photographies d'<b>Aïcha Dupoy de Guitard</b> au fil des saisons et 12 poèmes inédits de <b>Gilles Baudry</b>, moine à l'abbaye de Landévennec.
</p>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <blockquote>
                <i>Ce livre, dont les éléments furent glanés au fil d'humbles marches méditatives, concerne autant notre origine, notre présent que notre avenir. Il met en valeur, dans l'écrin le plus sobre et le plus simple, ce que nous avons de plus précieux. Cela qui nous concerne de la manière la plus urgente : la source secrète de nos vies. Chaque page de ce livre en porte la trace.</i>
                <footer>Extrait de la préface de Jean Lavoué, poète / éditeur</footer>
            </blockquote>
            <blockquote>
                <i>Certaines images ont une puissance si grande qu'on éloigne le livre de soi en les découvrant, et d'autres par contre délivrent un grand calme.</i>
                <footer>Christian Bobin</footer>
            </blockquote>
            <blockquote>
                <i>Oui, la vraie eau est intérieure, car c'est en nous que réside la vraie soif.</i>
                <footer>François Cheng</footer>
            </blockquote>
            <blockquote>
                <i>Merci vivement pour ce magnifique livre de photos et de poèmes, qui m'ont rempli d’admiration. (...) Je vous souhaite de poursuivre sur cette belle voie et de continuer ainsi à nous inspirer.</i>
                <footer>Matthieu Ricard</footer>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <img src="assets/img/eaux-interieures/extrait_01.jpg" alt="Page du livre" class="large-image mozaic-image" />
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <img src="assets/img/eaux-interieures/extrait_02.jpg" alt="Page du livre" class="large-image mozaic-image" />
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <img src="assets/img/eaux-interieures/extrait_03.jpg" alt="Page du livre" class="large-image mozaic-image" />
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <img src="assets/img/eaux-interieures/extrait_04.jpg" alt="Page du livre" class="large-image mozaic-image" />
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
				<h3>Photographies prises au fil des atmosphères</h3>
				<p class="lead">Eaux intérieures comporte près de 115 photographies couleur prises au fil des saisons ainsi que 12 poèmes inédits de Gilles Baudry.</p>
				
				<blockquote>
				<ul class="list-unstyled">
					<li><span class="glyphicon glyphicon-book" aria-hidden="true"></span> Tirage : 1000 exemplaires</li>
					<li><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Sortie : automne 2019</li>
					<li><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> Imprimé en Bretagne</li>
				</ul>
				</blockquote>
				
				<p class="lead">Pour commander le livre ou tout renseignement, contacter : <a href="mailto:poesiedelinstant@gmail.com">poesiedelinstant@gmail.com</a>.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <img src="assets/img/eaux-interieures/extrait_05.jpg" alt="Page du livre" class="large-image mozaic-image" />
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <img src="assets/img/eaux-interieures/extrait_06.jpg" alt="Page du livre" class="large-image mozaic-image" />
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
	    <h3>Un livre réalisé en partenariat avec l'association "Eau et rivières de Bretagne"</h3>
            <blockquote>
<p>Cinquante ans qu'Eau & Rivières de Bretagne mène une action déterminée pour la protection de la ressource en eau et la mise en valeur des rivières du Massif armoricain. Résolument tournée vers la défense de l'intérêt général, notre démarche témoigne d’une volonté de solidarité avec les générations et l’ensemble du vivantqui, après nous, habiteront cette magnifique région qu'est la Bretagne.</p>
<p><i>« Tant de bras pour transformer la Terre... et si peu de regards pour la contempler »</i></p>
<p>C'est éclairés par cette phrase, que nous devons à Julien Gracq (1910-2007), que nous accueillons le travail d’Aïcha et de Gilles comme une contribution bien nécessaire à la préservation des droits de la rivière.</p>
		<p>Pour en savoir plus, rendez-vous sur: <a href="http://eau-et-rivieres.org" target="blank">eau-et-rivieres.org</a></p>
		<footer>Extrait de la postface</footer>
            </blockquote>
			<p class="text-center">
				<img src="assets/img/eaux-interieures/logo-erb.jpg" alt="Logo de Eau et Rivières de Bretagne" />
			</p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <img src="assets/img/eaux-interieures/extrait_08.jpg" alt="Page du livre" class="large-image mozaic-image" />
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <img src="assets/img/eaux-interieures/extrait_09.jpg" alt="Page du livre" class="large-image mozaic-image" />
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
			<h3>Présentation des auteurs</p>
			<div class="col-sm-2 portait-container">
				<img src="assets/img/eaux-interieures/aicha.jpg" alt="Portait d'Aïcha Dupoy de Guitard" class="img-circle portrait">
			</div>
			<div class="col-sm-10">
				<blockquote>
					<p><b>Aïcha Dupoy de Guitard</b>, artiste peintre et passionnée de photographie, est en perpétuelle quête d'instants de poésie. La nature brute et les rencontres nourissent son travail tandis que la magie de l'éphémère guide son objectif. Après le livre "Surfeuses du bout du monde", sa collaboration avec Gilles Baudry pour "Matin des Arbres" marque le début de nombreux projets, toujours inspirés par la beauté simple de la vie.</p>
					
					<p>Elle a exposé son travail dans différents lieux comme le Conservatoire Botanique National de Brest, la médiathèque des Capucins à Brest, sur la presqu’île de Crozon et dans les Monts d’Arrée. Ses photos ont également fait l’objet de publications dans les magazines ArMen et The Surfer’s Journal.</p>
				</blockquote>
			</div>

			<div class="col-sm-2 portait-container">
				<img src="assets/img/eaux-interieures/gilles.jpg" alt="Portait de Gilles Baudry" class="img-circle portrait">
			</div>
			<div class="col-sm-10">
				<blockquote>
					<p><b>Gilles Baudry</b> est un écrivain reconnu au-delà des frontières. Publiés depuis près de 40 ans, se écrits ont été traduits en plusieurs langues. Moine bénédictin à l’abbaye de Landévennec, il est un poète à l’écriture discrète, intime, loin des voix claironnantes et des grands mots.</p>
					<p>Une poésie de l’ineffable qui s’entend à merveille avec l’art du détail, qui s’attarde sur une odeur de mousse et d’humus. Gilles Baudry constate que <i>le poète est un homme ordinaire, mais à l’écoute, disponible…</i> Il ne cesse de s’étonner de la beauté du monde, dans <i>l’humilité des plus simples merveilles</i>.</p>
					<p>Il a notamment reçu le prix Antonin-Artaud pour son recueil intitulé <i>Il a neigé tant de silence</i> (édition Rougerie 1985), le prix de l’Académie de Bretagne et des Pays-de-la-Loire en 2005, et le prix Aliénor en 2013.</p>
				</blockquote>
			</div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <img src="assets/img/eaux-interieures/promo.jpg" alt="Promotion du livre" class="large-image spaced-image" />
        </div>
    </div>

    <div class="row spaced-row">
        <div class="col-lg-12">
            <h3>Ils parlent du livre :</h3>
            <div class="press-list">
                <span class="press-item">
                    <a href="assets/video/interview-radio-evasion.mp3" target="blank">
                        <img src="assets/img/presse/logo-evasion.jpg" alt="Radio Evasion" />
                    </a>
                </span>
                <span class="press-item">
                    <a href="assets/img/presse/article-lobs.jpg" target="blank">
                        <img src="assets/img/presse/logo-lobs.jpg" alt="L'Obs" />
                    </a>
                </span>
                <span class="press-item">
                    <a href="assets/img/presse/article-ouestfrance-3.jpg" target="blank">
                        <img src="assets/img/presse/logo-ouestfrance.png" alt="Ouest France" />
                    </a>
                </span>
                <span class="press-item">
                    <a href="assets/video/reportage-tebeo2.webm" target="blank">
                        <img src="assets/img/presse/logo-tebeo.jpg" alt="Tebeo" />
                    </a>
                </span>
                <span class="press-item">
                    <a href="assets/img/presse/interview-francebleu.mp3" target="blank">
                        <img src="assets/img/presse/logo-francebleu.jpg" alt="France Bleu Breizh Izel" />
                    </a>
                </span>
                <span class="press-item">
                    <a href="assets/img/presse/article-telegramme-2.jpg" target="blank">
                        <img src="assets/img/presse/logo-telegramme.png" alt="Le Télégramme" />
                    </a>
                </span>
            </div>
        </div>
    </div>
</div>

<script>
function play() {
    document.getElementById('trailer').classList.toggle('hidden');
    document.getElementById('vignette').classList.toggle('hidden');
    document.getElementById('play-icon').classList.toggle('hidden');
    document.getElementById('trailer').play();
}
</script>
