<div class="container">

    <div class="row">
        <div class="col-lg-12">
            <img src="assets/img/emilienne-kerhoas/couverture.jpg" alt="Couverture du livre" class="large-image mozaic-image" />
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h3>Une Fugue à trois voix</h3>
            <blockquote>
                <p>« La poésie est ma respiration » aimait répéter Émilienne Kerhoas, et elle ajoutait aussitôt : « c’est une question de survie ». Près d’un siècle après sa naissance, il manquait à cette personnalité splendide et singulière, mais discrète dans le paysage des lettres bretonnes, un ouvrage retraçant son parcours. Et plutôt qu’écrire une biographie académique — qui reste à faire —, l’écrivain Alain-Gabriel Monot et la photographe Aïcha Dupoy de Guitard proposent ici un dialogue sur les hauts lieux de son itinérance. Ou plutôt, devrais-je dire, une Fugue à trois voix, tant les poèmes d’Émilienne apportent à ce dialogue fécond, leur rythme et leur souffle, de telle sorte que l’œuvre nous soit restituée dans son altérité dynamique.</p>
                <p>Cette « guetteuse tranquille », qui n’est pas sans rappeler Andrée Chedid, avait ainsi la passion de l’aventure humaine et de tout ce qui ouvre à l’Autre et aux rencontres. Sa vocation : se laisser traverser par la vie et nommer les fils intérieurs qui peuvent la transformer. Mais comment mettre de l’ordre dans ces multiples événements qui nous touchent — qu’ils soient heureux ou malheureux, qu’ils procurent de la joie ou de la douleur, qu’ils mènent à l’insouciance ou au doute ? Par la patience et « l’acceptation lucide de ce qui arrive » aurait-elle sans doute répondu. Par la capacité aussi à «relier les signes que nous font les êtres et les choses». Et dans le grand livre de la Nature — au passage du bleu —, elle aura su relier le visible à l’invisible, là où le sensible aime à se cacher.</p>
                <footer>Yvan Guillemot</footer>
            </blockquote>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <img src="assets/img/emilienne-kerhoas/extrait_01.jpg" alt="Page du livre" class="large-image mozaic-image" />
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <img src="assets/img/emilienne-kerhoas/extrait_02.jpg" alt="Page du livre" class="large-image mozaic-image" />
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
			<h3>Présentation des auteurs</p>
			<div class="col-sm-2 portait-container">
				<img src="assets/img/emilienne-kerhoas/aicha.jpg" alt="Portait d'Aïcha Dupoy de Guitard" class="img-circle portrait">
			</div>
			<div class="col-sm-10">
				<blockquote>
					<p>Par le prisme de ses photographies, <b>Aïcha Dupoy de Guitard</b> nous invite à poser le regard sur la beauté du monde qui nous entoure, sous sa forme la plus humble. Il suffit pour cela d’accueillir l’instant et d’en saisir la poésie. Guidée par la lumière en perpétuel mouvement, elle tente de révéler la magie de l’invisible en proposant des cadrages qui sont autant de fenêtres ouvertes. Chaque photo devient le commencement d’une histoire. Amoureuse de la nature, elle aime faire corps avec les éléments, aussi bruts que mystérieux, en s’immergeant dans les mondes océaniques, sylvestres ou minéraux. Le silence et la solitude inspirent sa réflexion, comme un voyage intérieur. </p>

                    <p>Son travail se nourrit également de rencontres humaines, incarnées parfois dans les portraits qu’elle en fait. Ce sont des femmes et des hommes — de tous horizons — animés par une passion, et qui aspirent au « vrai ». En captant leurs regards et gestes, ses photographies tentent d’en révéler l’âme. Elle est l’auteure de plusieurs recueils de photographies : Surfeuses du bout du monde, textes de Séverine Rannou (Poésie de l’Instant, 2016) ; Matin des Arbres, poèmes de Gilles Baudry (2017) ; Eaux intérieures, poèmes de Gilles Baudry (2019) ; Mondes Arrée, textes d’Hélène du Gouezou (éd. Vivre tout simplement, 2023).</p>
				</blockquote>
			</div>

			<div class="col-sm-2 portait-container">
				<img src="assets/img/emilienne-kerhoas/alain-gabriel.jpg" alt="Portait d'Alain-Gabriel Monot" class="img-circle portrait">
			</div>
			<div class="col-sm-10">
				<blockquote>
                    <p><b>Alain-Gabriel Monot</b> enseigne les lettres à l’Université de Bretagne occidentale (à Brest et Quimper). Critique littéraire et artistique de la revue Ar Men, il collabore également à la revue Cap Caval après avoir animé durant dix ans la revue Hopala, La Bretagne au monde. Il est l’auteur de nombreux ouvrages et anthologies consacrés aux écrivains, musiciens et peintres de Bretagne. Parmi ceux-ci : Poétique Bretagne (Coop-Breizh, 2003), Proses de Bretagne (éd. La Part commune, 2006), Auteurs des Péninsules (éd. Locus Solus, 2015) et On a mis la Bretagne en poèmes (2019), Géographie littéraire de la Bretagne (éd. Ouest-France, 2020), Michel Remaud, un cheminement pictural (éd. L’enfance des arbres, 2022), Louis Bertholom : le poème comme un cri (éd. Yoran Embanner, 2020), L’Île-Tudy, sur la terre comme au ciel (Association La Barbinasse, 2022). Il a également participé au recueil d’hommages à Xavier Grall, Ne vivent haut que ceux qui rêvent (éd. Calligrammes, 2021).</p>
                    <p>Grand ami d’Émilienne Kerhoas, Alain-Gabriel Monot a entretenu avec elle une correspondance pendant une quinzaine d’années, et a participé à l’hommage qui lui a été rendu en 2005 par la médiathèque de Landerneau à l’occasion de ses 80 ans. Avant sa disparition, il lui avait promis de réunir ses Œuvres complètes et de lui consacrer un ouvrage retraçant son parcours. Promesse tenue avec Soie du feu sur l’étoffe du ciel (à paraître aux éd. Calligrammes en novembre 2023) !</p>
				</blockquote>
			</div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <img src="assets/img/emilienne-kerhoas/extrait_03.jpg" alt="Page du livre" class="large-image mozaic-image" />
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <img src="assets/img/emilienne-kerhoas/extrait_04.jpg" alt="Page du livre" class="large-image mozaic-image" />
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
		<h3>Confluence des visages, des couleurs et des routes</h3>
		<p class="lead"><i>Soie du feu sur l'étoffe du ciel</i> comporte 128 pages au format 19 x 24 cm. Essai d‘Alain-Gabriel Monot  et photographies d'Aïcha Dupoy de Guitard.</p>
		
		<blockquote>
		<ul class="list-unstyled">
			<li><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Sortie : novembre 2023</li>
			<li><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> Imprimé en Bretagne</li>
			<li><span class="glyphicon glyphicon-tree-deciduous" aria-hidden="true"></span> Papier issu de fôrets gérées durablement</li>
		</ul>
		</blockquote>
                <p>Le livre est édité chez Calligrammes</p>
                    <a href="https://www.calligrammes-editions.fr/" target="blank">
                        <img src="assets/img/emilienne-kerhoas/logo-calligrammes.jpg" alt="Éditions Calligrammes" />
                    </a>
        </div>
    </div>
