<div class="banner img-banner-foret"><h1>Forêt</h1></div>

<div class="container">

    <div class="row">
        <div class="col-lg-12">
            <p>C’est à l’heure où le chant des oiseaux résonne dans la forêt, où la brume caresse la mousse des arbres, et où les toiles d’araignées se parent de perles de cristal qu’Aïcha Dupoy de Guitard aime se perdre dans le mystère des sous-bois de Landévennec. A pied ou à cheval, elle s’imprègne de cette féérie matinale pour nous la dévoiler à travers ses photos prises au gré de son inspiration.</p>
        </div>
    </div>

    <div id="foret-gallery-1" class="gallery">
        <a href="/assets/img/foret/1.JPG"><img src="/assets/img/foret/1-th.jpg"/></a>
        <a href="/assets/img/foret/2.JPG"><img src="/assets/img/foret/2-th.jpg"/></a>
        <a href="/assets/img/foret/3.JPG"><img src="/assets/img/foret/3-th.jpg"/></a>
        <a href="/assets/img/foret/4.JPG"><img src="/assets/img/foret/4-th.jpg"/></a>
        <a href="/assets/img/foret/5.JPG"><img src="/assets/img/foret/5-th.jpg"/></a>
        <a href="/assets/img/foret/6.JPG"><img src="/assets/img/foret/6-th.jpg"/></a>
        <a href="/assets/img/foret/7.JPG"><img src="/assets/img/foret/7-th.jpg"/></a>
        <a href="/assets/img/foret/8.JPG"><img src="/assets/img/foret/8-th.jpg"/></a>
        <a href="/assets/img/foret/9.JPG"><img src="/assets/img/foret/9-th.jpg"/></a>
        <a href="/assets/img/foret/10.JPG"><img src="/assets/img/foret/10-th.jpg"/></a>
        <a href="/assets/img/foret/11.JPG"><img src="/assets/img/foret/11-th.jpg"/></a>
        <a href="/assets/img/foret/12.JPG"><img src="/assets/img/foret/12-th.jpg"/></a>
        <a href="/assets/img/foret/13.JPG"><img src="/assets/img/foret/13-th.jpg"/></a>
        <a href="/assets/img/foret/14.JPG"><img src="/assets/img/foret/14-th.jpg"/></a>
        <a href="/assets/img/foret/15.JPG"><img src="/assets/img/foret/15-th.jpg"/></a>
        <a href="/assets/img/foret/16.JPG"><img src="/assets/img/foret/16-th.jpg"/></a>
        <a href="/assets/img/foret/17.JPG"><img src="/assets/img/foret/17-th.jpg"/></a>
        <a href="/assets/img/foret/18.JPG"><img src="/assets/img/foret/18-th.jpg"/></a>
        <a href="/assets/img/foret/19.JPG"><img src="/assets/img/foret/19-th.jpg"/></a>
        <a href="/assets/img/foret/20.JPG"><img src="/assets/img/foret/20-th.jpg"/></a>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <p>La forêt de Landévennec est une grande timide, et pourtant elle déborde de richesses. Entre terre et mer, comme suspendue entre deux mondes, elle vous transporte dans ses bois de hêtres, d’épicéas et de chênes qui surplombent les grèves où le goémon s’accroche aux branchages. Au printemps, les sous-bois vêtissent un manteau de mille et une fleurs sauvages,  les fées se donnent rdv. En Automne, les fougères embrasent les sous-bois, une dernière danse des Korrigans avant l’hiver et ses brumes teintées d’indigo.</p>
        </div>
    </div>

    <div id="foret-gallery-2" class="gallery">
        <a href="/assets/img/foret/21.JPG"><img src="/assets/img/foret/21-th.jpg"/></a>
        <a href="/assets/img/foret/22.JPG"><img src="/assets/img/foret/22-th.jpg"/></a>
        <a href="/assets/img/foret/23.JPG"><img src="/assets/img/foret/23-th.jpg"/></a>
        <a href="/assets/img/foret/24.JPG"><img src="/assets/img/foret/24-th.jpg"/></a>
        <a href="/assets/img/foret/25.JPG"><img src="/assets/img/foret/25-th.jpg"/></a>
        <a href="/assets/img/foret/26.JPG"><img src="/assets/img/foret/26-th.jpg"/></a>
        <a href="/assets/img/foret/27.JPG"><img src="/assets/img/foret/27-th.jpg"/></a>
        <a href="/assets/img/foret/28.JPG"><img src="/assets/img/foret/28-th.jpg"/></a>
        <a href="/assets/img/foret/29.JPG"><img src="/assets/img/foret/29-th.jpg"/></a>
        <a href="/assets/img/foret/30.JPG"><img src="/assets/img/foret/30-th.jpg"/></a>
        <a href="/assets/img/foret/31.JPG"><img src="/assets/img/foret/31-th.jpg"/></a>
        <a href="/assets/img/foret/32.JPG"><img src="/assets/img/foret/32-th.jpg"/></a>
        <a href="/assets/img/foret/33.JPG"><img src="/assets/img/foret/33-th.jpg"/></a>
        <a href="/assets/img/foret/34.JPG"><img src="/assets/img/foret/34-th.jpg"/></a>
        <a href="/assets/img/foret/35.JPG"><img src="/assets/img/foret/35-th.jpg"/></a>
        <a href="/assets/img/foret/36.JPG"><img src="/assets/img/foret/36-th.jpg"/></a>
        <a href="/assets/img/foret/37.JPG"><img src="/assets/img/foret/37-th.jpg"/></a>
        <a href="/assets/img/foret/38.JPG"><img src="/assets/img/foret/38-th.jpg"/></a>
        <a href="/assets/img/foret/39.JPG"><img src="/assets/img/foret/39-th.jpg"/></a>
        <a href="/assets/img/foret/40.JPG"><img src="/assets/img/foret/40-th.jpg"/></a>
        <a href="/assets/img/foret/41.JPG"><img src="/assets/img/foret/41-th.jpg"/></a>
        <a href="/assets/img/foret/42.JPG"><img src="/assets/img/foret/42-th.jpg"/></a>
        <a href="/assets/img/foret/43.JPG"><img src="/assets/img/foret/43-th.jpg"/></a>
        <a href="/assets/img/foret/44.JPG"><img src="/assets/img/foret/44-th.jpg"/></a>
        <a href="/assets/img/foret/45.JPG"><img src="/assets/img/foret/45-th.jpg"/></a>
        <a href="/assets/img/foret/46.JPG"><img src="/assets/img/foret/46-th.jpg"/></a>
        <a href="/assets/img/foret/47.JPG"><img src="/assets/img/foret/47-th.jpg"/></a>
        <a href="/assets/img/foret/48.JPG"><img src="/assets/img/foret/48-th.jpg"/></a>
        <a href="/assets/img/foret/49.JPG"><img src="/assets/img/foret/49-th.jpg"/></a>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <blockquote>
                <p>"Plus à l'Ouest, c'est une habitante elle aussi du couvert sylvestre qui déambule jour après jour à cheval dans les entrelacs du massif de Landévennec. Aïcha Dupoy de Guitard en connaît les facettes, les lumières, les essences. Son travail photographique a fait l'objet d'une exposition au Conservatoire Botanique National de Brest. Nous sommes heureux à ArMen de publier ces images embrumées, moussues, empreintes de l'humidité des bords de l'Aulne et de la rosée de l'aube".</p>
                <footer>Chloé Batissou, <cite title="ArMen">ArMen</cite>.</footer>
            </blockquote>
        </div>
    </div>

    <div id="foret-gallery-3" class="gallery">
        <a href="/assets/img/foret/50.JPG"><img src="/assets/img/foret/50-th.jpg"/></a>
        <a href="/assets/img/foret/51.JPG"><img src="/assets/img/foret/51-th.jpg"/></a>
        <a href="/assets/img/foret/52.JPG"><img src="/assets/img/foret/52-th.jpg"/></a>
        <a href="/assets/img/foret/53.JPG"><img src="/assets/img/foret/53-th.jpg"/></a>
        <a href="/assets/img/foret/54.JPG"><img src="/assets/img/foret/54-th.jpg"/></a>
        <a href="/assets/img/foret/55.JPG"><img src="/assets/img/foret/55-th.jpg"/></a>
        <a href="/assets/img/foret/56.JPG"><img src="/assets/img/foret/56-th.jpg"/></a>
        <a href="/assets/img/foret/57.JPG"><img src="/assets/img/foret/57-th.jpg"/></a>
        <a href="/assets/img/foret/58.JPG"><img src="/assets/img/foret/58-th.jpg"/></a>
        <a href="/assets/img/foret/59.JPG"><img src="/assets/img/foret/59-th.jpg"/></a>
        <a href="/assets/img/foret/60.JPG"><img src="/assets/img/foret/60-th.jpg"/></a>
        <a href="/assets/img/foret/61.JPG"><img src="/assets/img/foret/61-th.jpg"/></a>
        <a href="/assets/img/foret/62.JPG"><img src="/assets/img/foret/62-th.jpg"/></a>
        <a href="/assets/img/foret/63.JPG"><img src="/assets/img/foret/63-th.jpg"/></a>
        <a href="/assets/img/foret/64.JPG"><img src="/assets/img/foret/64-th.jpg"/></a>
        <a href="/assets/img/foret/65.JPG"><img src="/assets/img/foret/65-th.jpg"/></a>
        <a href="/assets/img/foret/66.JPG"><img src="/assets/img/foret/66-th.jpg"/></a>
        <a href="/assets/img/foret/67.JPG"><img src="/assets/img/foret/67-th.jpg"/></a>
        <a href="/assets/img/foret/68.JPG"><img src="/assets/img/foret/68-th.jpg"/></a>
        <a href="/assets/img/foret/69.JPG"><img src="/assets/img/foret/69-th.jpg"/></a>
        <a href="/assets/img/foret/70.JPG"><img src="/assets/img/foret/70-th.jpg"/></a>
        <a href="/assets/img/foret/71.JPG"><img src="/assets/img/foret/71-th.jpg"/></a>
        <a href="/assets/img/foret/72.JPG"><img src="/assets/img/foret/72-th.jpg"/></a>
        <a href="/assets/img/foret/73.JPG"><img src="/assets/img/foret/73-th.jpg"/></a>
        <a href="/assets/img/foret/74.JPG"><img src="/assets/img/foret/74-th.jpg"/></a>
        <a href="/assets/img/foret/75.JPG"><img src="/assets/img/foret/75-th.jpg"/></a>
        <a href="/assets/img/foret/76.JPG"><img src="/assets/img/foret/76-th.jpg"/></a>
        <a href="/assets/img/foret/77.JPG"><img src="/assets/img/foret/77-th.jpg"/></a>
        <a href="/assets/img/foret/78.JPG"><img src="/assets/img/foret/78-th.jpg"/></a>
        <a href="/assets/img/foret/79.JPG"><img src="/assets/img/foret/79-th.jpg"/></a>
        <a href="/assets/img/foret/80.JPG"><img src="/assets/img/foret/80-th.jpg"/></a>
        <a href="/assets/img/foret/81.JPG"><img src="/assets/img/foret/81-th.jpg"/></a>
        <a href="/assets/img/foret/82.JPG"><img src="/assets/img/foret/82-th.jpg"/></a>
    </div>
</div>

<script>
    $(document).ready(function() {
        $("#foret-gallery-1").lightGallery({download: false});
        $("#foret-gallery-2").lightGallery({download: false});
        $("#foret-gallery-3").lightGallery({download: false});
    });
</script>