<div class="banner banner-reverse img-banner-livres"><h1>Livres</h1></div>

<div class="container">

    <div class="row">
        <div class="col-lg-4">
            <div class="thumbnail">
                <a href="/mondes-arree">
                    <img src="/assets/img/vignette-mondes-arree.jpg" alt="Mondes Arrée">
                    <div class="caption">
                        <h3>Mondes Arrée</h3>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="thumbnail">
                <a href="/eaux-interieures">
                    <img src="/assets/img/vignette-eaux.jpg" alt="Eaux Intérieures">
                    <div class="caption">
                        <h3>Eaux Intérieures</h3>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="thumbnail">
                <a href="/matin-des-arbres">
                    <img src="/assets/img/vignette-arbres.jpg" alt="Matin des Arbres">
                    <div class="caption">
                        <h3>Matin des Arbres</h3>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="thumbnail">
                <a href="/abbaye">
                    <img src="/assets/img/vignette-abbaye.jpg" alt="Abbaye Saint-Guénolé">
                    <div class="caption">
                        <h3>L'Abbaye Saint-Guénolé de Landévennec</h3>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="thumbnail">
                <a href="/surfeuses-bout-du-monde">
                    <img src="/assets/img/vignette-surfeuses.jpg" alt="Surfeuses du bout du monde">
                    <div class="caption">
                        <h3>Surfeuses du bout du monde</h3>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
