<div class="container">
    <h2>Surfeuses du bout du monde</h2>
    <h3>Livre photo sur l'Océan et ses amazones</h3>

    <div class="row">
        <div class="col-lg-12">
            <img src="assets/img/livre/0.jpg" alt="Couverture du livre" class="large-image spaced-image" />
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h3>Loin des clichés habituels, voici le premier livre sur le surf féminin en Bretagne.</h3>
            <p>
                <b>Aïcha Dupoy de Guitard</b> et <b>Séverine Rannou</b> parlent de leur passion pour le surf dans cet ouvrage. Depuis plus de 10 ans, ces deux surfeuses prennent des vagues sur cette superbe presqu’île de Crozon. Elles se sont rencontrées sur ce spot et depuis une amitié naturelle s’est créée. Mais dans la vie, <b>Aïcha</b> est aussi photographe et artiste peintre et <b>Séverine</b> est enseignante et poète à ses heures, les deux amies ont donc décidé d’unir leurs compétences au service de leur passion pour le surf et de leur région. Elles publient ce livre autour du surf mais d’un point de vue féminin avec la nature comme thème principal.
                <p>L’une capture les moments et les émotions, l’autre donne des mots et un sens à ces images. 140 clichés et une dizaine de textes qui s’adressent également à tous les amoureux de l’océan et des paysages du littoral breton.</p>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <img src="assets/img/livre/2.jpg" alt="Page du livre" class="large-image mozaic-image" />
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <img src="assets/img/livre/3.jpg" alt="Page du livre" class="large-image mozaic-image" />
        </div>
    </div>

    <div class="row spaced-row">
        <div class="col-lg-12">
            <blockquote>
                <p>
                    <i>« Pendant un an et demi, j’ai suivi une dizaine de passionnées de l’Océan qui surfent hiver comme été, sur les différents spots de notre petit bout du monde. J’ai souhaité capturer ces instants de magie qui font le bonheur des sessions, au cœur des vagues, sur le sable, sous l’eau, du haut des falaises, derrière les rochers, sur les sentiers à travers les dunes, dans l’écume, etc… Mon amie Séverine a quant à elle posé des mots sur nos ressentis au milieu de tous ces éléments. Ce livre est un partage d’émotions, d’authenticité, loin des clichés habituels. C’est la rudesse des éléments qui façonne nos caractères, elle nous permet de nous sentir vivantes, entières, sans tricherie. » affirme <b>Aïcha</b>.</i><br /><br />
                    « <b>Surfeuses du bout du monde</b> » un livre photo sur l’océan et ses amazones qui sortira pour la fin de l’année. Un ouvrage de 150 pages qui s’adresse à tous les passionnés de l’océan et rend hommage à la beauté des spots bretons, à leur caractère sauvage et authentique.
                </p>
                <footer>Manu Massabova, <cite>The Rider Post</cite>.</footer>
            </blockquote>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <img src="assets/img/livre/4.jpg" alt="Page du livre" class="large-image mozaic-image" />
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <img src="assets/img/livre/1.jpg" alt="Page du livre" class="large-image mozaic-image" />
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <img src="assets/img/livre/5.jpg" alt="Page du livre" class="large-image mozaic-image" />
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <img src="assets/img/livre/6.jpg" alt="Page du livre" class="large-image mozaic-image" />
        </div>
    </div>


    <div class="row spaced-row">
        <div class="col-lg-12">
            <h3>On en parle sur France 3</h3>
            <p>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/wDkzyhwtb9k" frameborder="0" allowfullscreen></iframe>
            </p>
            <p>
                <b>Tarif : 29€<br />
                Pour commander le livre : <a href="mailto:poesiedelinstant@gmail.com">poesiedelinstant@gmail.com</a></b>
            </p>
        </div>
    </div>
</div>
