<div class="container">

    <h2>Matin des arbres</h2>
    <h3>Dialogue entre une cavalière photographe et un moine poète</h3>

    <div class="row">
        <div class="image-video">
            <video id="trailer" class="hidden" width="100%" controls>
                <source src="/assets/video/matin-des-arbres.mp4" type="video/mp4">
            </video>
            <img id="vignette" src="assets/img/matin-arbres/couverture.jpg" alt="Couverture du livre" class="large-image spaced-image" onclick="play()" />
            <span id="play-icon" class="glyphicon glyphicon-play-circle" aria-hidden="true" onclick="play()"></span>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <blockquote>
                <p><i>Plus qu'un simple album de plaisirs esthétiques, Matin des Arbres est une invitation à explorer la forêt de Landévennec, sa poésie, et ses mystères. Ce très bel ouvrage, illustré par les photos d’Aïcha Dupoy de Guitard, photographe à la vision éthérée, et les textes du moine poète frère Gilles Baudry, tendent vers une même recherche : saisir la nue simplicité. Ensemble, ils mettent en lumière l'un des trésors de la presqu'île de Crozon, et ouvrent une voie intérieure au fil de l'Aulne maritime, de ses reliefs, brumes et ensoleillements.</i><p>
                <p><i>Deux âmes aux sensibilités complémentaires, en quête de nous révéler le beau, la grâce, unissent leur talent dans un dialogue à la fois mystique, harmonieux et réel. L'invisible nous est révélé par la parfaite maîtrise des lumières et des mots. Au fil des saisons, Aïcha Dupoy de Guitard et Frère Gilles Baudry, mettent en musique les silences de la forêt et composent un véritable chef-d’œuvre. Un hymne à la vie dont notre société a tant besoin, une reviviscence de la sensorialité trop oubliée...</i></p>
                <footer>Clémence de Villecourt</footer>
            </blockquote>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <p class="lead">Sortie octobre 2017.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <img src="assets/img/matin-arbres/promo.jpg" alt="Promotion du livre" class="large-image spaced-image" />
        </div>
    </div>
</div>

<script>
function play() {
    document.getElementById('trailer').classList.toggle('hidden');
    document.getElementById('vignette').classList.toggle('hidden');
    document.getElementById('play-icon').classList.toggle('hidden');
    document.getElementById('trailer').play();
}
</script>
