<div class="container">

    <h2>Matin des arbres</h2>
    <h3>Dialogue entre une cavalière photographe et un moine poète</h3>

    <div class="row">
        <div class="image-video">
            <video id="trailer" class="hidden" width="100%" controls>
                <source src="/assets/video/matin-des-arbres.mp4" type="video/mp4">
            </video>
            <img id="vignette" src="assets/img/matin-arbres/couverture.jpg" alt="Couverture du livre" class="large-image spaced-image" onclick="play()" />
            <span id="play-icon" class="glyphicon glyphicon-play-circle" aria-hidden="true" onclick="play()"></span>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <blockquote>
                <i>Plus qu'un simple album de plaisirs esthétiques, Matin des Arbres est une invitation à explorer la forêt de Landévennec, sa poésie, et ses mystères. Ce très bel ouvrage, illustré par les photos d’Aïcha Dupoy de Guitard, photographe à la vision éthérée, et les textes du moine poète frère Gilles Baudry, tendent vers une même recherche : saisir la nue simplicité. Ensemble, ils mettent en lumière l'un des trésors de la presqu'île de Crozon, et ouvrent une voie intérieure au fil de l'Aulne maritime, de ses reliefs, brumes et ensoleillements.</i>
                <p><i>Deux âmes aux sensibilités complémentaires, en quête de nous révéler le beau, la grâce, unissent leur talent dans un dialogue à la fois mystique, harmonieux et réel. L'invisible nous est révélé par la parfaite maîtrise des lumières et des mots. Au fil des saisons, Aïcha Dupoy de Guitard et Frère Gilles Baudry, mettent en musique les silences de la forêt et composent un véritable chef-d’œuvre. Un hymne à la vie dont notre société a tant besoin, une reviviscence de la sensorialité trop oubliée...</i></p>
                <footer>Clémence de Villecourt</footer>
            </blockquote>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <img src="assets/img/matin-arbres/extrait_01.jpg" alt="Page du livre" class="large-image mozaic-image" />
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <img src="assets/img/matin-arbres/extrait_02.jpg" alt="Page du livre" class="large-image mozaic-image" />
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <img src="assets/img/matin-arbres/extrait_03.jpg" alt="Page du livre" class="large-image mozaic-image" />
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <img src="assets/img/matin-arbres/extrait_04.jpg" alt="Page du livre" class="large-image mozaic-image" />
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
				<h3>Photographies prises au fil des atmosphères</h3>
				<p class="lead">Matin des Arbres comporte près de 230 photographies couleur prises au fil des saisons, des atmosphères et des apparitions, ainsi qu'une quarantaine de poèmes inédits qui se découvrent sur 248 pages.</p>
				
				<blockquote>
				<ul class="list-unstyled">
					<li><span class="glyphicon glyphicon-book" aria-hidden="true"></span> Tirage : 1000 exemplaires</li>
					<li><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Sortie : octobre 2017</li>
					<li><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> Imprimé en Bretagne</li>
				</ul>
				</blockquote>
				
				<p class="lead">Épuisé.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <img src="assets/img/matin-arbres/extrait_05.jpg" alt="Page du livre" class="large-image mozaic-image" />
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <img src="assets/img/matin-arbres/extrait_06.jpg" alt="Page du livre" class="large-image mozaic-image" />
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
			<h3>Un projet soutenu par l'ASPAS</h3>
            <blockquote>
				Parce que ce projet espère aussi sensibiliser le grand public à l’importance de ce fragile écosystème, « Matin des Arbres » est partenaire de l’<b>ASPAS</b> (Association pour la Protection des Animaux Sauvages) dans la création des <b>Réserves de Vie Sauvage®</b>.
				<p>Pour une nature libre et préservée, l’ASPAS s’est doté d’un fabuleux outil : l’acquisition de terrains entièrement dédiés à la faune et à la flore. Pour toute modalité de gestion, la nature y est laissée en libre évolution. Aucune activité humaine n’y est autorisée, hormis la balade contemplative, amoureuse ou curieuse.</p>
				<p>Pour en savoir plus, rendez-vous sur: <a href="http://aspas-nature.org" target="blank">aspas-nature.org</a></p>
            </blockquote>
			<p class="text-center">
				<img src="assets/img/matin-arbres/apsas.png" alt="Logo de l'ASPAS" />
			</p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <img src="assets/img/matin-arbres/extrait_07.jpg" alt="Page du livre" class="large-image mozaic-image" />
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <img src="assets/img/matin-arbres/extrait_08.jpg" alt="Page du livre" class="large-image mozaic-image" />
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <img src="assets/img/matin-arbres/extrait_09.jpg" alt="Page du livre" class="large-image mozaic-image" />
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
			<h3>Présentation des auteurs</p>
			<div class="col-sm-2 portait-container">
				<img src="assets/img/matin-arbres/aicha.jpg" alt="Portait d'Aïcha Dupoy de Guitard" class="img-circle portrait">
			</div>
			<div class="col-sm-10">
				<blockquote>
					<p><b>Aïcha Dupoy de Guitard</b>, artiste peintre et passionnée de photographie, est en perpétuelle quête d'instants de poésie dans la nature qui nous entoure. Son premier livre « Surfeuses du bout du monde » (poèmes S. Rannou) a touché un large public, sensible à la beauté de ces fragments d’éternité. L’Océan et la Forêt étant ses deux éléments de prédilection, elle jongle d’un univers à l’autre, en captant la magie de l’éphémère.</p>
					
					<p>Elle a exposé son travail dans différents lieux comme le Conservatoire Botanique National de Brest, la médiathèque des Capucins à Brest, sur la presqu’île de Crozon et dans les Monts d’Arrée. Ses photos ont également fait l’objet de publications dans les magazines ArMen et The Surfer’s Journal.</p>
				</blockquote>
			</div>

			<div class="col-sm-2 portait-container">
				<img src="assets/img/matin-arbres/gilles.jpg" alt="Portait de Gilles Baudry" class="img-circle portrait">
			</div>
			<div class="col-sm-10">
				<blockquote>
					<p><b>Gilles Baudry</b> est un écrivain reconnu au-delà des frontières. Publiés depuis près de 40 ans, se écrits ont été traduits en plusieurs langues. Moine bénédictin à l’abbaye de Landévennec, il est un poète à l’écriture discrète, intime, loin des voix claironnantes et des grands mots.</p>
					<p>Une poésie de l’ineffable qui s’entend à merveille avec l’art du détail, qui s’attarde sur une odeur de mousse et d’humus. Gilles Baudry constate que <i>le poète est un homme ordinaire, mais à l’écoute, disponible…</i> Il ne cesse de s’étonner de la beauté du monde, dans <i>l’humilité des plus simples merveilles</i>.</p>
					<p>Il a notamment reçu le prix Antonin-Artaud pour son recueil intitulé <i>Il a neigé tant de silence</i> (édition Rougerie 1985), le prix de l’Académie de Bretagne et des Pays-de-la-Loire en 2005, et le prix Aliénor en 2013.</p>
				</blockquote>
			</div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <img src="assets/img/matin-arbres/promo.jpg" alt="Promotion du livre" class="large-image spaced-image" />
        </div>
    </div>

    <div class="row spaced-row">
        <div class="col-lg-12">
            <h3>Ils parlent du livre :</h3>
            <div class="press-list">
                <span class="press-item">
                    <a href="https://www.youtube.com/watch?v=1IhP8TVByg8" target="blank">
                        <img src="assets/img/presse/logo-france3.png" alt="France 3 Bretagne" />
                    </a>
                </span>
                <span class="press-item">
                    <a href="assets/img/presse/article-ouestfrance-2.jpg" target="blank">
                        <img src="assets/img/presse/logo-ouestfrance.png" alt="Ouest France" />
                    </a>
                </span>
                <span class="press-item">
                    <a href="assets/img/presse/article-telegramme.jpg" target="blank">
                        <img src="assets/img/presse/logo-telegramme.png" alt="Le Télégramme" />
                    </a>
                </span>
                <span class="press-item">
                    <a href="assets/img/presse/article-armen.jpg" target="blank">
                        <img src="assets/img/presse/logo-armen.png" alt="ArMen" />
                    </a>
                </span>
                <span class="press-item">
                    <a href="assets/video/reportage-tebeo.webm" target="blank">
                        <img src="assets/img/presse/logo-tebeo.jpg" alt="Tebeo" />
                    </a>
                </span>
            </div>
        </div>
    </div>
</div>

<script>
function play() {
    document.getElementById('trailer').classList.toggle('hidden');
    document.getElementById('vignette').classList.toggle('hidden');
    document.getElementById('play-icon').classList.toggle('hidden');
    document.getElementById('trailer').play();
}
</script>
