<div class="container">

    <h2>Mondes Arrée</h2>
    <h3>Immersion au cœur de la Bretagne occidentale</h3>

    <div class="row">
        <div class="col-lg-12">
            <img src="assets/img/mondes-arree/couverture.jpg" alt="Couverture du livre" class="large-image mozaic-image" />
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h3>Deux voix singulières</h3>
            <p><i>Mondes Arrée</i> est une immersion au cœur de la Bretagne occidentale, un conciliabule complice entre les images d’<b>Aïcha Dupoy de Guitard</b> et les mots d’<b>Hélène du Gouezou</b>.</p>

            <p>Dans les monts d’Arrée, trois mondes se côtoient : le monde d’En haut, celui des crêtes de schiste et du ciel changeant, le monde de l’Entre-deux, celui des forêts mystérieuses et des pierres sculptées et enfin le monde d’En bas, celui des eaux vives et des sombres marais.</p>

            <p>Les photographies d’Aïcha Dupoy de Guitard sont les fruits de deux ermitages au cœur de l’hiver : son regard singulier révèle avec délicatesse les trois strates des montagnes bretonnes.</p>

            <p>Les textes d’Hélène du Gouezou se posent en contre-chant, glissent du conte à la poésie, de l’Histoire aux histoires.</p>

            <p><i>Préfacé par Alexis Gloaguen</i></p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <img src="assets/img/mondes-arree/extrait_01.jpg" alt="Page du livre" class="large-image mozaic-image" />
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <img src="assets/img/mondes-arree/extrait_02.jpg" alt="Page du livre" class="large-image mozaic-image" />
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <img src="assets/img/mondes-arree/extrait_03.jpg" alt="Page du livre" class="large-image mozaic-image" />
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
			<h3>Qui sont-elles ?</p>
			<div class="col-sm-2 portait-container">
				<img src="assets/img/mondes-arree/aicha.jpg" alt="Portait d'Aïcha Dupoy de Guitard" class="img-circle portrait">
			</div>
			<div class="col-sm-10">
				<blockquote>
					<p><b>Aïcha Dupoy de Guitard</b>, artiste peintre et passionnée de photographie, est en perpétuelle quête d'instants de poésie. La nature brute et les rencontres nourrissent son travail tandis que la magie de l'éphémère guide son objectif. Après le livre <i>Surfeuses du bout du monde</i>, ses collaborations avec Gilles Baudry pour <i>Matin des Arbres</i> et <i>Eaux intérieures</i> marquent le début de nombreux projets, toujours inspirés par la beauté simple de la vie.</p>
					
					<p>Elle a exposé son travail dans plusieurs lieux à Brest (Conservatoire Botanique National, les Capucins), à Quimperlé, Landivisiau, sur la presqu’île de Crozon et dans les Monts d’Arrée. Enfin, Aïcha collabore régulièrement avec la revue <i>ArMen</i>.</p>
				</blockquote>
			</div>

			<div class="col-sm-2 portait-container">
				<img src="assets/img/mondes-arree/helene.png" alt="Portait d'Hélène du Gouezou" class="img-circle portrait">
			</div>
			<div class="col-sm-10">
				<blockquote>
					<p><b>Hélène du Gouezou</b>, artiste libre et inclassable, est passionnée par la culture des terroirs et la littérature orale. Elle conte, mène des ateliers d'écriture et anime des chroniques.</p>
                                        <p>Installée à Sizun dans les Monts d'Arrée, la <i>gardienne bienveillante</i> reçoit les randonneurs et les locaux pour des haltes reposantes et gourmandes.</p>
					<p>Autrice de <i>Petit cabinet de curiosités bretonnes</i>, éd CDP, <i>La trépassée des monts d'Arrée</i>, éd. Ouest-France et <i>L'engoulevent de l'Arrée</i>, éd. Skol Vreizh.</p>
				</blockquote>
			</div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <img src="assets/img/mondes-arree/extrait_04.jpg" alt="Page du livre" class="large-image mozaic-image" />
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <img src="assets/img/mondes-arree/extrait_05.jpg" alt="Page du livre" class="large-image mozaic-image" />
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
		<h3>Étrange île intérieure, loin des chemins battus</h3>
		<p class="lead">Mondes Arrée comporte 160 pages avec près de 180 photos. Les textes d'Hélène ponctuent chaque chapitre et incluent un conte de son cru.</p>
		
		<blockquote>
		<ul class="list-unstyled">
			<li><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Sortie : octobre 2023</li>
			<li><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> Imprimé en Bretagne</li>
			<li><span class="glyphicon glyphicon-tree-deciduous" aria-hidden="true"></span> Papier issu de fôrets gérées durablement</li>
		</ul>
		</blockquote>
                <p>Le livre est édité chez "Vivre Tout Simplement".</p>
                    <a href="https://editions.vivretoutsimplement.com/" target="blank">
                        <img src="assets/img/mondes-arree/logo-vivretoutsimplement.jpg" alt="Éditions Vivre Tout Simplement" />
                    </a>
        </div>
    </div>
