<div class="banner img-banner-ocean"><h1>Océan</h1></div>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <p>L’Océan, ce besoin d’embruns, d’infini, de connexion avec les éléments… Ses humeurs sont envoûtantes. Le regard d'Aïcha Dupoy de Guitard se porte partout où le sel de la vie océane se dévoile, sur l’eau, sous l’eau, au bord de l’eau. Captures d’instants de poésie en mer d’Iroise, mêlant la puissance des éléments et la magie d’une lumière sans cesse changeante. C’est ici que tout commence, Penn Ar Bed est une promesse.</p>
        </div>
    </div>

    <div id="ocean-gallery" class="gallery">
        <a href="/assets/img/ocean/1.JPG"><img src="/assets/img/ocean/1-th.jpg"/></a>
        <a href="/assets/img/ocean/2.JPG"><img src="/assets/img/ocean/2-th.jpg"/></a>
        <a href="/assets/img/ocean/3.JPG"><img src="/assets/img/ocean/3-th.jpg"/></a>
        <a href="/assets/img/ocean/4.JPG"><img src="/assets/img/ocean/4-th.jpg"/></a>
        <a href="/assets/img/ocean/5.JPG"><img src="/assets/img/ocean/5-th.jpg"/></a>
        <a href="/assets/img/ocean/6.JPG"><img src="/assets/img/ocean/6-th.jpg"/></a>
        <a href="/assets/img/ocean/7.JPG"><img src="/assets/img/ocean/7-th.jpg"/></a>
        <a href="/assets/img/ocean/8.JPG"><img src="/assets/img/ocean/8-th.jpg"/></a>
        <a href="/assets/img/ocean/9.JPG"><img src="/assets/img/ocean/9-th.jpg"/></a>
        <a href="/assets/img/ocean/10.JPG"><img src="/assets/img/ocean/10-th.jpg"/></a>
        <a href="/assets/img/ocean/11.JPG"><img src="/assets/img/ocean/11-th.jpg"/></a>
        <a href="/assets/img/ocean/12.JPG"><img src="/assets/img/ocean/12-th.jpg"/></a>
        <a href="/assets/img/ocean/13.JPG"><img src="/assets/img/ocean/13-th.jpg"/></a>
        <a href="/assets/img/ocean/14.JPG"><img src="/assets/img/ocean/14-th.jpg"/></a>
        <a href="/assets/img/ocean/15.JPG"><img src="/assets/img/ocean/15-th.jpg"/></a>
        <a href="/assets/img/ocean/16.JPG"><img src="/assets/img/ocean/16-th.jpg"/></a>
        <a href="/assets/img/ocean/17.JPG"><img src="/assets/img/ocean/17-th.jpg"/></a>
        <a href="/assets/img/ocean/18.JPG"><img src="/assets/img/ocean/18-th.jpg"/></a>
        <a href="/assets/img/ocean/19.JPG"><img src="/assets/img/ocean/19-th.jpg"/></a>
        <a href="/assets/img/ocean/20.JPG"><img src="/assets/img/ocean/20-th.jpg"/></a>
        <a href="/assets/img/ocean/21.JPG"><img src="/assets/img/ocean/21-th.jpg"/></a>
        <a href="/assets/img/ocean/22.JPG"><img src="/assets/img/ocean/22-th.jpg"/></a>
        <a href="/assets/img/ocean/23.JPG"><img src="/assets/img/ocean/23-th.jpg"/></a>
        <a href="/assets/img/ocean/24.JPG"><img src="/assets/img/ocean/24-th.jpg"/></a>
        <a href="/assets/img/ocean/25.JPG"><img src="/assets/img/ocean/25-th.jpg"/></a>
        <a href="/assets/img/ocean/26.JPG"><img src="/assets/img/ocean/26-th.jpg"/></a>
        <a href="/assets/img/ocean/27.JPG"><img src="/assets/img/ocean/27-th.jpg"/></a>
        <a href="/assets/img/ocean/28.JPG"><img src="/assets/img/ocean/28-th.jpg"/></a>
        <a href="/assets/img/ocean/29.JPG"><img src="/assets/img/ocean/29-th.jpg"/></a>
        <a href="/assets/img/ocean/31.JPG"><img src="/assets/img/ocean/31-th.jpg"/></a>
        <a href="/assets/img/ocean/32.JPG"><img src="/assets/img/ocean/32-th.jpg"/></a>
        <a href="/assets/img/ocean/33.JPG"><img src="/assets/img/ocean/33-th.jpg"/></a>
        <a href="/assets/img/ocean/34.JPG"><img src="/assets/img/ocean/34-th.jpg"/></a>
        <a href="/assets/img/ocean/35.JPG"><img src="/assets/img/ocean/35-th.jpg"/></a>
        <a href="/assets/img/ocean/36.JPG"><img src="/assets/img/ocean/36-th.jpg"/></a>
        <a href="/assets/img/ocean/37.JPG"><img src="/assets/img/ocean/37-th.jpg"/></a>
        <a href="/assets/img/ocean/38.JPG"><img src="/assets/img/ocean/38-th.jpg"/></a>
        <a href="/assets/img/ocean/39.JPG"><img src="/assets/img/ocean/39-th.jpg"/></a>
        <a href="/assets/img/ocean/40.JPG"><img src="/assets/img/ocean/40-th.jpg"/></a>
        <a href="/assets/img/ocean/41.JPG"><img src="/assets/img/ocean/41-th.jpg"/></a>
        <a href="/assets/img/ocean/42.JPG"><img src="/assets/img/ocean/42-th.jpg"/></a>
        <a href="/assets/img/ocean/43.JPG"><img src="/assets/img/ocean/43-th.jpg"/></a>
        <a href="/assets/img/ocean/44.JPG"><img src="/assets/img/ocean/44-th.jpg"/></a>
        <a href="/assets/img/ocean/45.JPG"><img src="/assets/img/ocean/45-th.jpg"/></a>
        <a href="/assets/img/ocean/46.JPG"><img src="/assets/img/ocean/46-th.jpg"/></a>
        <a href="/assets/img/ocean/47.JPG"><img src="/assets/img/ocean/47-th.jpg"/></a>
        <a href="/assets/img/ocean/48.JPG"><img src="/assets/img/ocean/48-th.jpg"/></a>
        <a href="/assets/img/ocean/49.JPG"><img src="/assets/img/ocean/49-th.jpg"/></a>
        <a href="/assets/img/ocean/50.JPG"><img src="/assets/img/ocean/50-th.jpg"/></a>
        <a href="/assets/img/ocean/51.JPG"><img src="/assets/img/ocean/51-th.jpg"/></a>
        <a href="/assets/img/ocean/52.JPG"><img src="/assets/img/ocean/52-th.jpg"/></a>
        <a href="/assets/img/ocean/53.JPG"><img src="/assets/img/ocean/53-th.jpg"/></a>
        <a href="/assets/img/ocean/54.JPG"><img src="/assets/img/ocean/54-th.jpg"/></a>
        <a href="/assets/img/ocean/55.JPG"><img src="/assets/img/ocean/55-th.jpg"/></a>
        <a href="/assets/img/ocean/56.JPG"><img src="/assets/img/ocean/56-th.jpg"/></a>
        <a href="/assets/img/ocean/57.JPG"><img src="/assets/img/ocean/57-th.jpg"/></a>
        <a href="/assets/img/ocean/58.JPG"><img src="/assets/img/ocean/58-th.jpg"/></a>
        <a href="/assets/img/ocean/59.JPG"><img src="/assets/img/ocean/59-th.jpg"/></a>
        <a href="/assets/img/ocean/60.JPG"><img src="/assets/img/ocean/60-th.jpg"/></a>
        <a href="/assets/img/ocean/61.JPG"><img src="/assets/img/ocean/61-th.jpg"/></a>
        <a href="/assets/img/ocean/62.JPG"><img src="/assets/img/ocean/62-th.jpg"/></a>
        <a href="/assets/img/ocean/63.JPG"><img src="/assets/img/ocean/63-th.jpg"/></a>
        <a href="/assets/img/ocean/64.JPG"><img src="/assets/img/ocean/64-th.jpg"/></a>
        <a href="/assets/img/ocean/65.JPG"><img src="/assets/img/ocean/65-th.jpg"/></a>
        <a href="/assets/img/ocean/66.JPG"><img src="/assets/img/ocean/66-th.jpg"/></a>
        <a href="/assets/img/ocean/67.JPG"><img src="/assets/img/ocean/67-th.jpg"/></a>
        <a href="/assets/img/ocean/68.JPG"><img src="/assets/img/ocean/68-th.jpg"/></a>
        <a href="/assets/img/ocean/69.JPG"><img src="/assets/img/ocean/69-th.jpg"/></a>
        <a href="/assets/img/ocean/70.JPG"><img src="/assets/img/ocean/70-th.jpg"/></a>
        <a href="/assets/img/ocean/71.JPG"><img src="/assets/img/ocean/71-th.jpg"/></a>
        <a href="/assets/img/ocean/72.JPG"><img src="/assets/img/ocean/72-th.jpg"/></a>
        <a href="/assets/img/ocean/73.JPG"><img src="/assets/img/ocean/73-th.jpg"/></a>
        <a href="/assets/img/ocean/74.JPG"><img src="/assets/img/ocean/74-th.jpg"/></a>
        <a href="/assets/img/ocean/75.JPG"><img src="/assets/img/ocean/75-th.jpg"/></a>
        <a href="/assets/img/ocean/76.JPG"><img src="/assets/img/ocean/76-th.jpg"/></a>
        <a href="/assets/img/ocean/77.JPG"><img src="/assets/img/ocean/77-th.jpg"/></a>
        <a href="/assets/img/ocean/78.JPG"><img src="/assets/img/ocean/78-th.jpg"/></a>
        <a href="/assets/img/ocean/79.JPG"><img src="/assets/img/ocean/79-th.jpg"/></a>
        <a href="/assets/img/ocean/80.JPG"><img src="/assets/img/ocean/80-th.jpg"/></a>
        <a href="/assets/img/ocean/81.JPG"><img src="/assets/img/ocean/81-th.jpg"/></a>
        <a href="/assets/img/ocean/82.JPG"><img src="/assets/img/ocean/82-th.jpg"/></a>
        <a href="/assets/img/ocean/83.JPG"><img src="/assets/img/ocean/83-th.jpg"/></a>
        <a href="/assets/img/ocean/84.JPG"><img src="/assets/img/ocean/84-th.jpg"/></a>
        <a href="/assets/img/ocean/85.JPG"><img src="/assets/img/ocean/85-th.jpg"/></a>
        <a href="/assets/img/ocean/86.JPG"><img src="/assets/img/ocean/86-th.jpg"/></a>
        <a href="/assets/img/ocean/87.JPG"><img src="/assets/img/ocean/87-th.jpg"/></a>
        <a href="/assets/img/ocean/88.JPG"><img src="/assets/img/ocean/88-th.jpg"/></a>
        <a href="/assets/img/ocean/89.JPG"><img src="/assets/img/ocean/89-th.jpg"/></a>
    </div>

</div>

<script>
    $(document).ready(function() {
        $("#ocean-gallery").lightGallery({download: false});
    });
</script>