<div class="banner banner-reverse img-banner-reportages"><h1>Reportages</h1></div>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <p>La poésie étant partout autour de nous, Aïcha Dupoy de Guitard aime aller à la rencontre de passionnés et capturer des moments authentiques. Des instantanés de vies, sur terre, sur mer, dans la simplicité et le partage. L'émotion guide son objectif, la lumière révèle la magie de l'instant. Chaque rencontre est une chance.</p>
        </div>
    </div>

    <div id="reportages-gallery" class="gallery">
        <a href="/assets/img/reportages/1.JPG"><img src="/assets/img/reportages/1-th.jpg"/></a>
        <a href="/assets/img/reportages/2.JPG"><img src="/assets/img/reportages/2-th.jpg"/></a>
        <a href="/assets/img/reportages/3.JPG"><img src="/assets/img/reportages/3-th.jpg"/></a>
        <a href="/assets/img/reportages/4.JPG"><img src="/assets/img/reportages/4-th.jpg"/></a>
        <a href="/assets/img/reportages/5.JPG"><img src="/assets/img/reportages/5-th.jpg"/></a>
        <a href="/assets/img/reportages/6.JPG"><img src="/assets/img/reportages/6-th.jpg"/></a>
        <a href="/assets/img/reportages/7.JPG"><img src="/assets/img/reportages/7-th.jpg"/></a>
        <a href="/assets/img/reportages/8.JPG"><img src="/assets/img/reportages/8-th.jpg"/></a>
        <a href="/assets/img/reportages/9.JPG"><img src="/assets/img/reportages/9-th.jpg"/></a>
        <a href="/assets/img/reportages/10.JPG"><img src="/assets/img/reportages/10-th.jpg"/></a>
        <a href="/assets/img/reportages/11.JPG"><img src="/assets/img/reportages/11-th.jpg"/></a>
        <a href="/assets/img/reportages/12.JPG"><img src="/assets/img/reportages/12-th.jpg"/></a>
        <a href="/assets/img/reportages/13.JPG"><img src="/assets/img/reportages/13-th.jpg"/></a>
        <a href="/assets/img/reportages/14.JPG"><img src="/assets/img/reportages/14-th.jpg"/></a>
        <a href="/assets/img/reportages/15.JPG"><img src="/assets/img/reportages/15-th.jpg"/></a>
        <a href="/assets/img/reportages/16.JPG"><img src="/assets/img/reportages/16-th.jpg"/></a>
        <a href="/assets/img/reportages/17.JPG"><img src="/assets/img/reportages/17-th.jpg"/></a>
        <a href="/assets/img/reportages/18.JPG"><img src="/assets/img/reportages/18-th.jpg"/></a>
        <a href="/assets/img/reportages/19.JPG"><img src="/assets/img/reportages/19-th.jpg"/></a>
        <a href="/assets/img/reportages/20.JPG"><img src="/assets/img/reportages/20-th.jpg"/></a>
        <a href="/assets/img/reportages/21.JPG"><img src="/assets/img/reportages/21-th.jpg"/></a>
        <a href="/assets/img/reportages/22.JPG"><img src="/assets/img/reportages/22-th.jpg"/></a>
        <a href="/assets/img/reportages/23.JPG"><img src="/assets/img/reportages/23-th.jpg"/></a>
        <a href="/assets/img/reportages/24.JPG"><img src="/assets/img/reportages/24-th.jpg"/></a>
        <a href="/assets/img/reportages/25.JPG"><img src="/assets/img/reportages/25-th.jpg"/></a>
        <a href="/assets/img/reportages/26.JPG"><img src="/assets/img/reportages/26-th.jpg"/></a>
        <a href="/assets/img/reportages/27.JPG"><img src="/assets/img/reportages/27-th.jpg"/></a>
        <a href="/assets/img/reportages/28.JPG"><img src="/assets/img/reportages/28-th.jpg"/></a>
        <a href="/assets/img/reportages/29.JPG"><img src="/assets/img/reportages/29-th.jpg"/></a>
        <a href="/assets/img/reportages/32.JPG"><img src="/assets/img/reportages/32-th.jpg"/></a>
        <a href="/assets/img/reportages/33.JPG"><img src="/assets/img/reportages/33-th.jpg"/></a>
        <a href="/assets/img/reportages/34.JPG"><img src="/assets/img/reportages/34-th.jpg"/></a>
        <a href="/assets/img/reportages/35.JPG"><img src="/assets/img/reportages/35-th.jpg"/></a>
        <a href="/assets/img/reportages/36.JPG"><img src="/assets/img/reportages/36-th.jpg"/></a>
        <a href="/assets/img/reportages/37.JPG"><img src="/assets/img/reportages/37-th.jpg"/></a>
        <a href="/assets/img/reportages/38.JPG"><img src="/assets/img/reportages/38-th.jpg"/></a>
        <a href="/assets/img/reportages/39.JPG"><img src="/assets/img/reportages/39-th.jpg"/></a>
        <a href="/assets/img/reportages/40.JPG"><img src="/assets/img/reportages/40-th.jpg"/></a>
        <a href="/assets/img/reportages/41.JPG"><img src="/assets/img/reportages/41-th.jpg"/></a>
        <a href="/assets/img/reportages/42.JPG"><img src="/assets/img/reportages/42-th.jpg"/></a>
        <a href="/assets/img/reportages/43.JPG"><img src="/assets/img/reportages/43-th.jpg"/></a>
        <a href="/assets/img/reportages/44.JPG"><img src="/assets/img/reportages/44-th.jpg"/></a>
        <a href="/assets/img/reportages/45.JPG"><img src="/assets/img/reportages/45-th.jpg"/></a>
        <a href="/assets/img/reportages/46.JPG"><img src="/assets/img/reportages/46-th.jpg"/></a>
        <a href="/assets/img/reportages/47.JPG"><img src="/assets/img/reportages/47-th.jpg"/></a>
        <a href="/assets/img/reportages/48.JPG"><img src="/assets/img/reportages/48-th.jpg"/></a>
        <a href="/assets/img/reportages/50.JPG"><img src="/assets/img/reportages/50-th.jpg"/></a>
        <a href="/assets/img/reportages/51.JPG"><img src="/assets/img/reportages/51-th.jpg"/></a>
        <a href="/assets/img/reportages/52.JPG"><img src="/assets/img/reportages/52-th.jpg"/></a>
        <a href="/assets/img/reportages/53.JPG"><img src="/assets/img/reportages/53-th.jpg"/></a>
        <a href="/assets/img/reportages/54.JPG"><img src="/assets/img/reportages/54-th.jpg"/></a>
        <a href="/assets/img/reportages/55.JPG"><img src="/assets/img/reportages/55-th.jpg"/></a>
        <a href="/assets/img/reportages/56.JPG"><img src="/assets/img/reportages/56-th.jpg"/></a>
        <a href="/assets/img/reportages/57.JPG"><img src="/assets/img/reportages/57-th.jpg"/></a>
        <a href="/assets/img/reportages/58.JPG"><img src="/assets/img/reportages/58-th.jpg"/></a>
        <a href="/assets/img/reportages/59.JPG"><img src="/assets/img/reportages/59-th.jpg"/></a>
        <a href="/assets/img/reportages/60.JPG"><img src="/assets/img/reportages/60-th.jpg"/></a>
        <a href="/assets/img/reportages/61.JPG"><img src="/assets/img/reportages/61-th.jpg"/></a>
        <a href="/assets/img/reportages/62.JPG"><img src="/assets/img/reportages/62-th.jpg"/></a>
        <a href="/assets/img/reportages/63.JPG"><img src="/assets/img/reportages/63-th.jpg"/></a>
        <a href="/assets/img/reportages/64.JPG"><img src="/assets/img/reportages/64-th.jpg"/></a>
        <a href="/assets/img/reportages/65.JPG"><img src="/assets/img/reportages/65-th.jpg"/></a>
        <a href="/assets/img/reportages/66.JPG"><img src="/assets/img/reportages/66-th.jpg"/></a>
        <a href="/assets/img/reportages/67.JPG"><img src="/assets/img/reportages/67-th.jpg"/></a>
        <a href="/assets/img/reportages/68.JPG"><img src="/assets/img/reportages/68-th.jpg"/></a>
        <a href="/assets/img/reportages/69.JPG"><img src="/assets/img/reportages/69-th.jpg"/></a>
        <a href="/assets/img/reportages/71.JPG"><img src="/assets/img/reportages/71-th.jpg"/></a>
        <a href="/assets/img/reportages/72.JPG"><img src="/assets/img/reportages/72-th.jpg"/></a>
        <a href="/assets/img/reportages/73.JPG"><img src="/assets/img/reportages/73-th.jpg"/></a>
        <a href="/assets/img/reportages/74.JPG"><img src="/assets/img/reportages/74-th.jpg"/></a>
        <a href="/assets/img/reportages/75.JPG"><img src="/assets/img/reportages/75-th.jpg"/></a>
        <a href="/assets/img/reportages/76.JPG"><img src="/assets/img/reportages/76-th.jpg"/></a>
        <a href="/assets/img/reportages/77.JPG"><img src="/assets/img/reportages/77-th.jpg"/></a>
        <a href="/assets/img/reportages/78.JPG"><img src="/assets/img/reportages/78-th.jpg"/></a>
        <a href="/assets/img/reportages/79.JPG"><img src="/assets/img/reportages/79-th.jpg"/></a>
        <a href="/assets/img/reportages/80.JPG"><img src="/assets/img/reportages/80-th.jpg"/></a>
        <a href="/assets/img/reportages/81.JPG"><img src="/assets/img/reportages/81-th.jpg"/></a>
        <a href="/assets/img/reportages/82.JPG"><img src="/assets/img/reportages/82-th.jpg"/></a>
        <a href="/assets/img/reportages/83.JPG"><img src="/assets/img/reportages/83-th.jpg"/></a>
        <a href="/assets/img/reportages/84.JPG"><img src="/assets/img/reportages/84-th.jpg"/></a>
        <a href="/assets/img/reportages/85.JPG"><img src="/assets/img/reportages/85-th.jpg"/></a>
        <a href="/assets/img/reportages/86.JPG"><img src="/assets/img/reportages/86-th.jpg"/></a>
        <a href="/assets/img/reportages/87.JPG"><img src="/assets/img/reportages/87-th.jpg"/></a>
        <a href="/assets/img/reportages/88.JPG"><img src="/assets/img/reportages/88-th.jpg"/></a>
        <a href="/assets/img/reportages/89.JPG"><img src="/assets/img/reportages/89-th.jpg"/></a>
    </div>
</div>

<script>
    $(document).ready(function() {
        $("#reportages-gallery").lightGallery({download: false});
    });
</script>
