<div class="container">
    <h2>Surfeuses du bout du monde</h2>
    <h3>Livre photo sur l'Océan et ses amazones</h3>

    <div class="row">
        <div class="col-lg-12">
            <img src="assets/img/livre/0.jpg" alt="Couverture du livre" class="large-image spaced-image" />
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h3>Loin des clichés habituels</h3>
            <p>
                <b>Aïcha Dupoy de Guitard</b> et <b>Séverine Rannou</b> parlent de leur passion pour le surf dans cet ouvrage. Depuis plus de 10 ans, ces deux surfeuses prennent des vagues sur cette superbe presqu’île de Crozon. Elles se sont rencontrées sur ce spot et depuis une amitié naturelle s’est créée. Mais dans la vie, <b>Aïcha</b> est aussi photographe et artiste peintre et <b>Séverine</b> est enseignante et poète à ses heures, les deux amies ont donc décidé d’unir leurs compétences au service de leur passion pour le surf et de leur région. Elles publient ce livre autour du surf mais d’un point de vue féminin avec la nature comme thème principal.
                <p>L’une capture les moments et les émotions, l’autre donne des mots et un sens à ces images. 140 clichés et une dizaine de textes qui s’adressent également à tous les amoureux de l’océan et des paysages du littoral breton.</p>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <img src="assets/img/livre/2.jpg" alt="Page du livre" class="large-image mozaic-image" />
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <img src="assets/img/livre/3.jpg" alt="Page du livre" class="large-image mozaic-image" />
        </div>
    </div>

    <div class="row spaced-row">
        <div class="col-lg-12">
            <h3>Premier livre sur le surf féminin en Bretagne</h3>
            <blockquote>
                <p>
                    <i>Surfeuses du bout du monde, c’est un titre qui fait rêver (on part ailleurs avec elles, au bout du monde), c’est un objet qu’on sent bien dans les mains (pas trop grand, 215x155 mm, à la fois ferme et lisse à palper, bien imprimé), ce sont des pages, des photos cadrées qui s’enchaînent mais qui une par une happent le regard (chaque image fait l’effet d’être une petite pépite en soi, une action, un détail, une atmosphère, un paysage avec une alternance sans aucune redondance, comme des notes musicales dûment rythmées sur 150 pages), ce sont des poèmes aux vers ciselés dans la roche, aux mots puisés dans les vagues, aux rimes tournoyées dans l’écume et avec, à côté, la photo qui les lit à voix haute, ce sont deux femmes, auteures du livre, qu’avec d’autres habitantes du coin, on voit surfer, bodysurfer, ramer, marcher, s’élancer, plonger, glisser, loin de tout effet de performance, mais par amour de la mer, d’y glisser, d’y ressentir son corps, d’y libérer son esprit, d’y partager un plaisir et des paroles de filles, moins techniques que celles des garçons, mais toutes aussi nuancées et importantes («pas le nombre de vagues qui compte mais l’émotion sans frustration»), c’est le bout du monde, la presqu’île de Crozon où s’ouvre le monde, d’où part le monde, par où s’entend le monde (et qu’on découvre déferlant, luminescent, étincelant, envoutant, nuageux comme caillouteux, en noir et blanc comme en couleur)...
</i>
                </p>
                <footer>Gibus de Soultrait, <cite>Surfer's Journal</cite>.</footer>
            </blockquote>
            <p>Préface de Léa Brassy, <a href="https://www.youtube.com/watch?v=oVUtSDKy3TM">surfeuse aventurière</a>.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <img src="assets/img/livre/4.jpg" alt="Page du livre" class="large-image mozaic-image" />
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <img src="assets/img/livre/1.jpg" alt="Page du livre" class="large-image mozaic-image" />
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
		<h3>« D'où part, et par où s'étend le monde »</h3>
		<p class="lead">Surfeuses du bout du monde comporte près de 140 photographies couleur prises sur la superbe presqu'île de Crozon, au fil des atmosphères, sous un angle lointain des clichés habituels.</p>

		<blockquote>
		<ul class="list-unstyled">
			<li><span class="glyphicon glyphicon-book" aria-hidden="true"></span> Tirage : 1000 exemplaires</li>
			<li><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Sortie : novembre 2016</li>
			<li><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> Imprimé en Bretagne</li>
		</ul>
		</blockquote>

		<p class="lead">Épuisé.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <img src="assets/img/livre/5.jpg" alt="Page du livre" class="large-image mozaic-image" />
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <img src="assets/img/livre/6.jpg" alt="Page du livre" class="large-image mozaic-image" />
        </div>
    </div>


    <div class="row spaced-row">
        <div class="col-lg-12">
            <h3>Ils parlent du livre :</h3>
            <div class="press-list">
                <span class="press-item">
                    <a href="assets/img/presse/article-surfersjournal.pdf" target="blank">
                        <img src="assets/img/presse/logo-surfersjournal.png" alt="The Surfer's Journal" />
                    </a>
                </span>
                <span class="press-item">
                    <a href="http://www.theriderpost.com/disciplines/water/surf/aicha-et-severine-les-surfeuses-du-bout-du-monde/" target="blank">
                        <img src="assets/img/presse/logo-riderpost.png" alt="The Rider's Post" />
                    </a>
                </span>
                <span class="press-item">
                    <a href="https://www.youtube.com/watch?v=XmyV1UkFuXs" target="blank">
                        <img src="assets/img/presse/logo-france3.png" alt="France 3 Bretagne" />
                    </a>
                </span>
                <span class="press-item">
                    <a href="assets/img/presse/article-pennarbed.jpg" target="blank">
                        <img src="assets/img/presse/logo-pennarbed.png" alt="Penn ar Bed" />
                    </a>
                </span>
                <span class="press-item">
                    <a href="assets/img/presse/article-ouestfrance.jpg" target="blank">
                        <img src="assets/img/presse/logo-ouestfrance.png" alt="Ouest France" />
                    </a>
                </span>
            </div>
        </div>
    </div>
</div>
