<div class="banner banner-reverse img-banner-voyages"><h1>Voyages</h1></div>

<div class="container">

    <div class="row">
        <div class="col-lg-12">
            <p>L'appel des grands espaces mène le regard d'Aïcha Dupoy de Guitard vers des contrées sauvages, où la nature impose son rythme. Au fil de ses voyages, son objectif saisit la poésie des éléments, dans leur puissance et leur mystère. L'émerveillement nourrit notre imaginaire, et nous offre un instant de liberté...</p>
        </div>
    </div>

    <div id="voyages-gallery" class="gallery">
        <a href="/assets/img/voyages/91.JPG"><img src="/assets/img/voyages/91-th.jpg"/></a>
        <a href="/assets/img/voyages/92.JPG"><img src="/assets/img/voyages/92-th.jpg"/></a>
        <a href="/assets/img/voyages/93.JPG"><img src="/assets/img/voyages/93-th.jpg"/></a>
        <a href="/assets/img/voyages/94.JPG"><img src="/assets/img/voyages/94-th.jpg"/></a>
        <a href="/assets/img/voyages/95.JPG"><img src="/assets/img/voyages/95-th.jpg"/></a>
        <a href="/assets/img/voyages/96.JPG"><img src="/assets/img/voyages/96-th.jpg"/></a>
        <a href="/assets/img/voyages/97.JPG"><img src="/assets/img/voyages/97-th.jpg"/></a>
        <a href="/assets/img/voyages/98.JPG"><img src="/assets/img/voyages/98-th.jpg"/></a>
        <a href="/assets/img/voyages/99.JPG"><img src="/assets/img/voyages/99-th.jpg"/></a>
        <a href="/assets/img/voyages/100.JPG"><img src="/assets/img/voyages/100-th.jpg"/></a>
        <a href="/assets/img/voyages/101.JPG"><img src="/assets/img/voyages/101-th.jpg"/></a>
        <a href="/assets/img/voyages/1.JPG"><img src="/assets/img/voyages/1-th.jpg"/></a>
        <a href="/assets/img/voyages/2.JPG"><img src="/assets/img/voyages/2-th.jpg"/></a>
        <a href="/assets/img/voyages/3.JPG"><img src="/assets/img/voyages/3-th.jpg"/></a>
        <a href="/assets/img/voyages/4.JPG"><img src="/assets/img/voyages/4-th.jpg"/></a>
        <a href="/assets/img/voyages/5.JPG"><img src="/assets/img/voyages/5-th.jpg"/></a>
        <a href="/assets/img/voyages/6.JPG"><img src="/assets/img/voyages/6-th.jpg"/></a>
        <a href="/assets/img/voyages/7.JPG"><img src="/assets/img/voyages/7-th.jpg"/></a>
        <a href="/assets/img/voyages/8.JPG"><img src="/assets/img/voyages/8-th.jpg"/></a>
        <a href="/assets/img/voyages/9.JPG"><img src="/assets/img/voyages/9-th.jpg"/></a>
        <a href="/assets/img/voyages/10.JPG"><img src="/assets/img/voyages/10-th.jpg"/></a>
        <a href="/assets/img/voyages/11.JPG"><img src="/assets/img/voyages/11-th.jpg"/></a>
        <a href="/assets/img/voyages/12.JPG"><img src="/assets/img/voyages/12-th.jpg"/></a>
        <a href="/assets/img/voyages/13.JPG"><img src="/assets/img/voyages/13-th.jpg"/></a>
        <a href="/assets/img/voyages/14.JPG"><img src="/assets/img/voyages/14-th.jpg"/></a>
        <a href="/assets/img/voyages/15.JPG"><img src="/assets/img/voyages/15-th.jpg"/></a>
        <a href="/assets/img/voyages/16.JPG"><img src="/assets/img/voyages/16-th.jpg"/></a>
        <a href="/assets/img/voyages/17.JPG"><img src="/assets/img/voyages/17-th.jpg"/></a>
        <a href="/assets/img/voyages/18.JPG"><img src="/assets/img/voyages/18-th.jpg"/></a>
        <a href="/assets/img/voyages/19.JPG"><img src="/assets/img/voyages/19-th.jpg"/></a>
        <a href="/assets/img/voyages/20.JPG"><img src="/assets/img/voyages/20-th.jpg"/></a>
        <a href="/assets/img/voyages/21.JPG"><img src="/assets/img/voyages/21-th.jpg"/></a>
        <a href="/assets/img/voyages/22.JPG"><img src="/assets/img/voyages/22-th.jpg"/></a>
        <a href="/assets/img/voyages/23.JPG"><img src="/assets/img/voyages/23-th.jpg"/></a>
        <a href="/assets/img/voyages/24.JPG"><img src="/assets/img/voyages/24-th.jpg"/></a>
        <a href="/assets/img/voyages/25.JPG"><img src="/assets/img/voyages/25-th.jpg"/></a>
        <a href="/assets/img/voyages/26.JPG"><img src="/assets/img/voyages/26-th.jpg"/></a>
        <a href="/assets/img/voyages/27.JPG"><img src="/assets/img/voyages/27-th.jpg"/></a>
        <a href="/assets/img/voyages/28.JPG"><img src="/assets/img/voyages/28-th.jpg"/></a>
        <a href="/assets/img/voyages/29.JPG"><img src="/assets/img/voyages/29-th.jpg"/></a>
        <a href="/assets/img/voyages/30.JPG"><img src="/assets/img/voyages/30-th.jpg"/></a>
        <a href="/assets/img/voyages/31.JPG"><img src="/assets/img/voyages/31-th.jpg"/></a>
        <a href="/assets/img/voyages/32.JPG"><img src="/assets/img/voyages/32-th.jpg"/></a>
        <a href="/assets/img/voyages/33.JPG"><img src="/assets/img/voyages/33-th.jpg"/></a>
        <a href="/assets/img/voyages/34.JPG"><img src="/assets/img/voyages/34-th.jpg"/></a>
        <a href="/assets/img/voyages/35.JPG"><img src="/assets/img/voyages/35-th.jpg"/></a>
        <a href="/assets/img/voyages/36.JPG"><img src="/assets/img/voyages/36-th.jpg"/></a>
        <a href="/assets/img/voyages/37.JPG"><img src="/assets/img/voyages/37-th.jpg"/></a>
        <a href="/assets/img/voyages/38.JPG"><img src="/assets/img/voyages/38-th.jpg"/></a>
        <a href="/assets/img/voyages/39.JPG"><img src="/assets/img/voyages/39-th.jpg"/></a>
        <a href="/assets/img/voyages/40.JPG"><img src="/assets/img/voyages/40-th.jpg"/></a>
        <a href="/assets/img/voyages/41.JPG"><img src="/assets/img/voyages/41-th.jpg"/></a>
        <a href="/assets/img/voyages/42.JPG"><img src="/assets/img/voyages/42-th.jpg"/></a>
        <a href="/assets/img/voyages/43.JPG"><img src="/assets/img/voyages/43-th.jpg"/></a>
        <a href="/assets/img/voyages/44.JPG"><img src="/assets/img/voyages/44-th.jpg"/></a>
        <a href="/assets/img/voyages/45.JPG"><img src="/assets/img/voyages/45-th.jpg"/></a>
        <a href="/assets/img/voyages/46.JPG"><img src="/assets/img/voyages/46-th.jpg"/></a>
        <a href="/assets/img/voyages/47.JPG"><img src="/assets/img/voyages/47-th.jpg"/></a>
        <a href="/assets/img/voyages/48.JPG"><img src="/assets/img/voyages/48-th.jpg"/></a>
        <a href="/assets/img/voyages/49.JPG"><img src="/assets/img/voyages/49-th.jpg"/></a>
        <a href="/assets/img/voyages/50.JPG"><img src="/assets/img/voyages/50-th.jpg"/></a>
        <a href="/assets/img/voyages/51.JPG"><img src="/assets/img/voyages/51-th.jpg"/></a>
        <a href="/assets/img/voyages/52.JPG"><img src="/assets/img/voyages/52-th.jpg"/></a>
        <a href="/assets/img/voyages/53.JPG"><img src="/assets/img/voyages/53-th.jpg"/></a>
        <a href="/assets/img/voyages/54.JPG"><img src="/assets/img/voyages/54-th.jpg"/></a>
        <a href="/assets/img/voyages/55.JPG"><img src="/assets/img/voyages/55-th.jpg"/></a>
        <a href="/assets/img/voyages/56.JPG"><img src="/assets/img/voyages/56-th.jpg"/></a>
        <a href="/assets/img/voyages/57.JPG"><img src="/assets/img/voyages/57-th.jpg"/></a>
        <a href="/assets/img/voyages/58.JPG"><img src="/assets/img/voyages/58-th.jpg"/></a>
        <a href="/assets/img/voyages/59.JPG"><img src="/assets/img/voyages/59-th.jpg"/></a>
        <a href="/assets/img/voyages/60.JPG"><img src="/assets/img/voyages/60-th.jpg"/></a>
        <a href="/assets/img/voyages/61.JPG"><img src="/assets/img/voyages/61-th.jpg"/></a>
        <a href="/assets/img/voyages/62.JPG"><img src="/assets/img/voyages/62-th.jpg"/></a>
        <a href="/assets/img/voyages/63.JPG"><img src="/assets/img/voyages/63-th.jpg"/></a>
        <a href="/assets/img/voyages/64.JPG"><img src="/assets/img/voyages/64-th.jpg"/></a>
        <a href="/assets/img/voyages/65.JPG"><img src="/assets/img/voyages/65-th.jpg"/></a>
        <a href="/assets/img/voyages/66.JPG"><img src="/assets/img/voyages/66-th.jpg"/></a>
        <a href="/assets/img/voyages/67.JPG"><img src="/assets/img/voyages/67-th.jpg"/></a>
        <a href="/assets/img/voyages/68.JPG"><img src="/assets/img/voyages/68-th.jpg"/></a>
        <a href="/assets/img/voyages/69.JPG"><img src="/assets/img/voyages/69-th.jpg"/></a>
        <a href="/assets/img/voyages/70.JPG"><img src="/assets/img/voyages/70-th.jpg"/></a>
        <a href="/assets/img/voyages/71.JPG"><img src="/assets/img/voyages/71-th.jpg"/></a>
        <a href="/assets/img/voyages/72.JPG"><img src="/assets/img/voyages/72-th.jpg"/></a>
        <a href="/assets/img/voyages/73.JPG"><img src="/assets/img/voyages/73-th.jpg"/></a>
        <a href="/assets/img/voyages/74.JPG"><img src="/assets/img/voyages/74-th.jpg"/></a>
        <a href="/assets/img/voyages/75.JPG"><img src="/assets/img/voyages/75-th.jpg"/></a>
        <a href="/assets/img/voyages/76.JPG"><img src="/assets/img/voyages/76-th.jpg"/></a>
        <a href="/assets/img/voyages/77.JPG"><img src="/assets/img/voyages/77-th.jpg"/></a>
        <a href="/assets/img/voyages/78.JPG"><img src="/assets/img/voyages/78-th.jpg"/></a>
        <a href="/assets/img/voyages/79.JPG"><img src="/assets/img/voyages/79-th.jpg"/></a>
        <a href="/assets/img/voyages/80.JPG"><img src="/assets/img/voyages/80-th.jpg"/></a>
        <a href="/assets/img/voyages/81.JPG"><img src="/assets/img/voyages/81-th.jpg"/></a>
        <a href="/assets/img/voyages/82.JPG"><img src="/assets/img/voyages/82-th.jpg"/></a>
        <a href="/assets/img/voyages/83.JPG"><img src="/assets/img/voyages/83-th.jpg"/></a>
        <a href="/assets/img/voyages/84.JPG"><img src="/assets/img/voyages/84-th.jpg"/></a>
        <a href="/assets/img/voyages/85.JPG"><img src="/assets/img/voyages/85-th.jpg"/></a>
        <a href="/assets/img/voyages/86.JPG"><img src="/assets/img/voyages/86-th.jpg"/></a>
        <a href="/assets/img/voyages/87.JPG"><img src="/assets/img/voyages/87-th.jpg"/></a>
        <a href="/assets/img/voyages/88.JPG"><img src="/assets/img/voyages/88-th.jpg"/></a>
        <a href="/assets/img/voyages/89.JPG"><img src="/assets/img/voyages/89-th.jpg"/></a>
        <a href="/assets/img/voyages/90.JPG"><img src="/assets/img/voyages/90-th.jpg"/></a>
    </div>

</div>

<script>
    $(document).ready(function() {
        $("#voyages-gallery").lightGallery({download: false});
    });
</script>
